/* root - The main root of the application. */
:root{
    --user-card-height: 0;
    --user-card-width: 0; 
}

/* body - The entire body for the application. */
body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

/* |Home Sector Content| */
.home-sector-content{
    border: 1px solid orchid; 
}

.no-click{
    pointer-events: none;  
}
/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* Mobile and Desktop Miniturization */

/* Media-0 - For mobile viewports */
@media only screen and (max-width: 1000px)
{
    /* |Main Content| */
    #content{
        border: 1px solid red;
        padding: 5px; 
    }

    /* |Main Menu Content| */
    .main-menu-content{
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px;

        border: 1px solid purple;
        margin-top: 20px; /* Temporary during testing */
    }

    /* |Shuffle Cards Content| */
    .shuffle-cards-content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        border: 1px solid orange;
        padding: 5px;
        margin-top: 20px; 
    }

    .display-cards-section{ /* Display cards container */
        display: flex; 
        justify-content: center; 
        gap: 5px; 

        border: 1px solid blue;
    }
    .display-cards-section > div{
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid black;
        width: 65px;
        height: 65px;
        font-size: 10px;
        text-align: center;
    }
    .shuffle-card-animation{ /* Shuffle Card Animation for the Display cards container. */
        animation-name: shuffleCardAnimation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes shuffleCardAnimation{
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2); 
        }
    }

    .card-info-window{ /* The main card info window for the each card being displayed in the 'Display Card Section'. */
        position: relative;
        top: -120px; /* This will change based on the final page size. */

        border: 1px solid red; 
        background-color: rgba(255, 0, 0, 0.432);
        padding: 10px; 
    }
    .card-info-window > div{ /* Close Window Button Section */
        display: flex;
        justify-content: end; 
        border: 1px solid green;
    }
    .card-info-window > div > img[src]{
        width: 50px;
    }
    .open-card-info-window{ /* Will open the card info window with a keyframe animation. */ 
        animation-name: openCardInfoWindow;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards; */
    }
    @keyframes openCardInfoWindow{
        from{
            transform: perspective(800px) translateZ(-4000px);
        }
        to{
            transform: perspective(800px) translateZ(25px); 
        }
    }
    .close-card-info-window{ /* Will close the card info window with a keyframe animation. */
        animation-name: closeCardInfoWindow;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes closeCardInfoWindow{
        from{
            transform: perspective(800px) translateZ(25px); 
        }
        to{
            transform: perspective(800px) translateZ(-4000px); 
        }
    }

    .shuffle-limit-reached{
        animation-name: shuffleLimitReached;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        border: 1px solid red;
    }
    @keyframes shuffleLimitReached{
        from{ 
            transform: scale(1)
        }
        to{
            transform: scale(1.1); 
        }
    }
    .shuffle-limit-reached > span{
        color: red; 
    }

    /* |Battle Levels Content| */ 
    .battle-levels-content{
        display: flex;
        flex-direction: column;
        gap: 20px; 
        border: 1px solid green; 
        margin-top: 20px; 
    }

    .battle-level-section{ /* Battle Level Section */
        text-align: center; 
        border: 1px solid blue; 
    }
    .battle-level-section > h4{
        margin: 0; 
    }

    .battle-singularity-point-section{ /* Battle Sigularity Point Section */
        display: flex;

        border: 1px solid olive;
    }
    .battle-singularity-point-section > section{
        flex: 1;
        
        text-align: center; 
        border: 1px solid black;
    }
    .sp-anim{
        animation-name: singularityAnimation;
        animation-duration: .7s;
        animation-timing-function: ease-in-out; 
    }
    @keyframes singularityAnimation{
        from{
            transform: translate(0);
        }
        to{
            transform: perspective(800px) translateZ(50px);   
            border: 2px solid #facc15;
        }
    }

    .battle-arena-section{ /* Battle Arena Section */ 
        display: flex; 
        justify-content: space-between;

        border: 1px solid purple;
        padding: 3px; 
    }
    .battle-arena-section > section{ /* User card & Comp Card in the Battle Arena Section. */ 
        display: flex;

        border: 1px solid black; 
        width: 80px; /* The width and height will change once the card art is implemented. */ 
        height: 80px; 
    }
    .battle-arena-section > section:nth-child(2) > div{ /* Comp Card Battle Damage - Will contain damage animation. */
        border: 1px solid black;
        position: absolute;
        animation-name: compCardDamageAnim;
        animation-duration: 0.7s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;  
    }
    @keyframes compCardDamageAnim{
        from{
            transform: translate(0);
        }
        to{
            transform: translate(-100px, -20px); 
        }
    }
    .battle-arena-section > section:nth-child(1) > div{ /* User Card Battle Damage - Will contain damage animation. */
        border: 1px solid black;
        position: absolute;
        animation-name: userCardDamageAnim;
        animation-duration: 0.7s; 
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards; 
    }
    @keyframes userCardDamageAnim{
        from{
            transform: translate(0);
        }
        to{
            transform: translate(130px, -20px); 
        }
    }
    .death-anim{ /* Battle card death animation for both the user and computer. */
        animation-name: deathAnim;
        animation-timing-function: ease-in-out;
        animation-duration: .8s;
        background-color: rgba(255, 0, 0, 0.418);
        border: 1px solid rgba(255, 0, 0, 0.418);
    }
    @keyframes deathAnim{
        0%{
            transform: perspective(800px) rotateY(0);
        }
        10%{
            transform: perspective(800px) rotateY(10deg);
        }
        20%{
            transform: perspective(800px) rotateY(40deg);
        }
        40%{
            transform: perspective(800px) rotateY(-10deg); 
        }
        60%{
            transform: perspective(800px) rotateY(-40deg); 
        }
        80%{
            transform: perspective(800px) rotateY(10deg); 
        }
        100%{
            transform: perspective(800px) rotateY(40deg); 
        }
    }

    .battle-card-stats-section{ /* Battle Card Stats Section */
        display: flex;
        justify-content: space-between;
        border: 1px solid cornflowerblue;
        padding: 3px; 
    }
    .battle-card-stats-section > section{ /* User Battle Card Stats & Comp Battle Card Stats */
        display: flex;
        flex-direction: column;
        gap: 3px;
        
        border: 1px solid black;
    }

    .battle-card-deck-section{ /* Battle Card Deck Section */
        display: flex;
        justify-content: space-between;

        border: 1px solid chocolate;
        padding: 3px;
    }
    .battle-card-deck-section > section{ /* User Card Deck & Comp Card Deck */
        display: flex;
        justify-content: center;
        gap: 10px; 

        padding: 3px;
        border: 1px solid lightseagreen;
    }
    .battle-card-deck-section > section > div{ /* Each card in both deck sections */ 
        font-size: 10px; 
        border: 1px solid black; 
    }

    .battle-command-section{ /* Battle Command Section */ 
        display: flex;
        justify-content: space-around;

        border: 1px solid lightcoral;
        padding: 3px; 
    }
    .user-card-attack-anim{ /* Battle Command: User Attack Anim */
        animation-name: userAttackAnim;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
    @keyframes userAttackAnim{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(20px); 
        }
    }
    .comp-card-attack-anim{ /* Battle Commmand: Computer Attack Anim */
        animation-name: compAttackAnim;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out; 
    }
    @keyframes compAttackAnim{
        from{
            transform: translateX(0); 
        }
        to{
            transform: translateX(-20px);  
        }
    }
    .user-card-defend-anim{ /* Battle Command: User Defend Attack Anim */
        position: absolute; 
        background-color: #818df856;
        border: 1px solid #818df856;
        width: var(--user-card-width);
        height: var(--user-card-height); 
    }

} 