/* body - The entire body for the application. */
body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.no-click{
    pointer-events: none;  
}
/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* Mobile and Desktop Miniturization */

/* Media-0 - For mobile viewports */
@media only screen and (max-width: 1000px)
{
    /* |Main Content| */
    #content{
        border: 1px solid red;
        padding: 5px; 
    }

    /* |Main Menu Content| */
    .main-menu-content{
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 10px;

        border: 1px solid purple;
    }

    /* |Shuffle Cards Content| */
    .shuffle-cards-content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        border: 1px solid orange;
        padding: 5px;
        margin-top: 20px; 
    }

    .display-cards-section{ /* Display cards container */
        display: flex; 
        justify-content: center; 
        gap: 5px; 

        border: 1px solid blue;
    }
    .display-cards-section > div{
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid black;
        width: 65px;
        height: 65px;
        font-size: 10px;
        text-align: center;
    }
    .shuffle-card-animation{ /* Shuffle Card Animation for the Display cards container. */
        animation-name: shuffleCardAnimation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes shuffleCardAnimation{
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2); 
        }
    }

    .card-info-window{ /* The main card info window for the each card being displayed in the 'Display Card Section'. */
        position: relative;
        top: -120px; /* This will change based on the final page size. */

        border: 1px solid red; 
        background-color: rgba(255, 0, 0, 0.432);
        padding: 10px; 
    }
    .card-info-window > div{ /* Close Window Button Section */
        display: flex;
        justify-content: end; 
        border: 1px solid green;
    }
    .card-info-window > div > img[src]{
        width: 50px;
    }
    .open-card-info-window{ /* Will open the card info window with a keyframe animation. */ 
        animation-name: openCardInfoWindow;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards; */
    }
    @keyframes openCardInfoWindow{
        from{
            transform: perspective(800px) translateZ(-4000px);
        }
        to{
            transform: perspective(800px) translateZ(25px); 
        }
    }
    .close-card-info-window{ /* Will close the card info window with a keyframe animation. */
        animation-name: closeCardInfoWindow;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    @keyframes closeCardInfoWindow{
        from{
            transform: perspective(800px) translateZ(25px); 
        }
        to{
            transform: perspective(800px) translateZ(-4000px); 
        }
    }

    .shuffle-limit-reached{
        animation-name: shuffleLimitReached;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        border: 1px solid red;
    }
    @keyframes shuffleLimitReached{
        from{ 
            transform: scale(1)
        }
        to{
            transform: scale(1.1); 
        }
    }
    .shuffle-limit-reached > span{
        color: red; 
    }

    /* |Battle Levels Content| */ 
    .battle-levels-content{
        border: 1px solid green; 
        margin-top: 20px; 
    }
} 